{{ define "main" }}


<article>


  <header class="article-header">


    <div class="section-title">

      [
      {{ with .Params.id }}
        {{ . }}
      {{ else }}
        RECORD
      {{ end }}
      ]

    </div>


    <h1>
      {{ .Title }}
    </h1>


    <div class="record-meta">

      {{ if not .Date.IsZero }}

        DATE:
        {{ .Date.Format "2006-01-02" }}

      {{ end }}


      {{ with .Params.entry_type }}

        · TYPE:
        {{ upper . }}

      {{ end }}


      {{ with .Params.tags }}

        · TAGS:
        {{ delimit . " / " }}

      {{ end }}


      {{ with .Params.venue }}

        · VENUE:
        {{ . }}

      {{ end }}

    </div>


    {{ with .Description }}

      <p class="article-description">
        {{ . }}
      </p>

    {{ end }}


  </header>


  <div class="article-body">

    {{ .Content }}

  </div>


  {{ if or .Params.paper_url .Params.code_url .Params.repo_url }}

  <section class="resource-box">

    <div class="section-title">
      [ RESOURCES ]
    </div>


    {{ with .Params.paper_url }}

      <a href="{{ . }}" target="_blank">
        [ PAPER ]
      </a>

    {{ end }}


    {{ with .Params.code_url }}

      <a href="{{ . }}" target="_blank">
        [ CODE ]
      </a>

    {{ end }}


    {{ with .Params.repo_url }}

      <a href="{{ . }}" target="_blank">
        [ REPOSITORY ]
      </a>

    {{ end }}

  </section>

  {{ end }}


</article>


{{ end }}
